// ブレイクポイント
@use "sass:map";

$breakpoints: (
  sp: "not screen and (min-width: 768px)",
  tb: "screen and (min-width: 768px) and (max-width: 1024px)",
  pc: "screen and (min-width: 768px)",
) !default;

@mixin mq($breakpoint: pc) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

// 変数
$font-family: "Poppins", "Noto Sans JP", serif;
$font-family--ja: "Noto Sans JP", serif;
$font-family--en-primary: "Poppins", serif;

$color--main: #00558f;
$color--sub-1: #57b4f2;
$color--accent-1: #e04b00;
$color--accent-2: #eb9a01;
$color--black: #232d33;
$color--gray: #636c73;
$color--white: #ffffff;

$header-height: 64px;
$inner-width-sp: 335px;
$inner-width-pc: 900px;

// 共通
.hide-on-pc {
  @include mq(pc) {
    display: none;
  }
}

.button {
  font-size: 18px;
  font-weight: 700;
  border-radius: 40px;
  border: 4px solid $color--accent-1;
  box-shadow: 0px 4px 0px 0px $color--accent-2;
  padding: 4px 16px;
  color: $color--black;
  background: $color--white;
  transition: color 0.3s, background-color 0.3s;

  @include mq(pc) {
    font-size: 18px;
    padding: 6px 18px;
  }

  &:hover {
    color: $color--white;
    background: $color--accent-1;
  }
}

.title {
  @include mq(pc) {
    max-width: 640px;
    margin-inline: auto;
  }
}

.title__text {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  gap: 8px;

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border: $color--main 4px solid;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    border: $color--sub-1 2px solid;
    border-radius: 50%;
  }
}

.section-base {
  padding-block: 40px 60px;

  @include mq(pc) {
    padding-block: 180px 40px;
  }
}

.inner {
  padding-inline: 20px;
  max-width: calc($inner-width-sp + 20px * 2);
  margin-inline: auto;

  @include mq(pc) {
    max-width: calc($inner-width-pc + 20px * 2);
  }
}

.description {
  margin-top: 16px;

  @include mq(pc) {
    margin-top: 32px;
  }
}

// ベース
html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  font-size: 14px;
  line-height: 1.6;
  color: $color--black;

  @include mq(pc) {
    font-size: 16px;
  }
}

// ヘッダー
.header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $color--white;
  border-top: 3px solid $color--main;
  z-index: 2000;

  @include mq(pc) {
    height: 76px;
    top: 0;
    bottom: auto;
    border-top: none;
    border-bottom: 3px solid #00558f;
    display: flex;
    align-items: center;
  }
}

.header__inner {
  position: relative;
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;

  @include mq(pc) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-inline: 40px;
    max-width: calc($inner-width-pc + 40px * 2);
    margin-inline: auto;
  }
}

.header__logo {
  width: 50%;
  text-align: center;

  @include mq(pc) {
    width: auto;
    position: absolute;
    top: 0;
    left: 20px;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 156px;
      height: 156px;
      background: $color--white;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::before {
      border: 4px solid #00558f;
      border-radius: 50%;
      top: 50%;
      z-index: -20;
    }
    &::after {
      top: -13px;
      z-index: -10;
    }
  }

  a {
    display: block;
    width: 100%;

    img {
      width: 140px;
    }
  }
}

.header__menu-button {
  width: 50%;
  padding: 16px;
  color: $color--white;
  background: $color--main;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &.is-opened {
    .header__menu-button-bars {
      .header__menu-button-bar {
        &:nth-of-type(1) {
          top: 9px;
          transform: rotate(45deg);
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:nth-of-type(3) {
          top: 9px;
          transform: rotate(-45deg);
        }
      }
    }
  }

  @include mq(pc) {
    display: none;
  }
}

.header__menu-button-text {
  font-weight: 500;
}

.header__menu-button-bars {
  position: relative;
  width: 22px;
  height: 22px;
}

.header__menu-button-bar {
  position: absolute;
  display: block;
  width: 24px;
  height: 4px;
  background: $color--white;
  border-radius: 2px;
  transition: top 0.3s, transform 0.3s;

  &:nth-of-type(1) {
    top: 0;
  }
  &:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  &:nth-of-type(3) {
    bottom: 0;
  }
}

.header__nav {
  display: none;

  @include mq(pc) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}

.header__nav-list {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;

  @include mq(pc) {
    margin-top: 0;
  }
}

.header__nav-item {
}

.header__nav-link {
  display: block;
  padding-block: 8px;
  width: 100%;
  font-weight: 500;
  transition: color 0.3s;

  @include mq(pc) {
    padding-block: 16px;
  }

  &:hover {
    color: $color--sub-1;
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}
.header__button-contact {
}

// ドロワー
.drawer__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-bottom: 60px;
  background: $color--white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  transform: translateX(100%);
  z-index: 1000;
  transition: transform 0.3s;

  &.is-opened {
    transform: translateX(0);
  }

  @include mq(pc) {
    display: none;
  }
}

.drawer__nav-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.drawer__nav-item {
}

.drawer__nav-link {
  display: block;
  padding-block: 8px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}

.drawer__button-contact {
  position: relative;
}
.drawer__button-contact {
}
.drawer__sns-icon {
  margin-top: 16px;
  display: flex;
  gap: 16px;

  img {
    width: 32px;
  }
}

// ファーストビュー
.fv {
  position: relative;
  height: 400px;

  @include mq(pc) {
    padding-top: 60px;
    height: 480px;
  }
}

.fv__bg {
  position: absolute;
  background: url("../img/sp/fv-bg-sp.png") no-repeat center center / cover;
  width: 100%;
  height: 100%;
  opacity: 0.4;

  @include mq(pc) {
    background: url("../img/fv-bg.png") no-repeat center center / cover;
  }
}
.fv__inner {
  position: relative;
  padding-inline: 20px;
  max-width: calc($inner-width-sp + 20px * 2);
  margin-inline: auto;

  @include mq(pc) {
    padding-inline: 40px;
    max-width: calc($inner-width-pc + 40px * 2);
  }
}

.fv__logo {
  position: absolute;
  top: 32px;
  left: 0;

  img {
    width: 180px;
  }

  @include mq(pc) {
    display: none;
  }
}

.fv__content {
  position: absolute;
  top: 220px;
  left: 20px;

  @include mq(pc) {
    left: 120px;
  }
}

.fv__text {
  font-size: 17px;
  font-weight: 700;

  @include mq(pc) {
    font-size: 28px;
  }
}
.fv__button {
  margin-top: 32px;
}

// 実績紹介
.works {
}
.works__inner {
}
.works__description {
}
.works__list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;

  @include mq(pc) {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
.works__item {
  border: 4px solid $color--main;
  border-radius: 16px;
  overflow: hidden;
}

.works__item-link {
  position: relative;
  display: block;

  &:hover {
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border: $color--sub-1 4px solid;
      border-radius: 12px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 30;
    }

    .works__item-img {
      img {
        transform: scale(1.2);
      }
    }
  }
}

.works__item-img {
  position: relative;
  // z-index: 10;

  img {
    transition: transform 0.3s;
  }
}

.works__item-text {
  position: relative;
  z-index: 20;
  background: $color--white;
  padding: 16px;
  height: 126px;
}

.works__item-name {
  font-size: 16px;
  font-weight: 700;
}

.works__id-text {
  margin-top: 8px;
}

.works__item-detail {
  margin-top: 24px;
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: color 0.3s;
}

// 提供サービス
.service {
}
.service__inner {
}

.service__description {
}

.service__list {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding-inline: 20px;
  max-width: 300px;
  margin-inline: auto;

  @include mq(pc) {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1140px;
  }
}

.service__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(0, 85, 143);
  border-radius: 16px;
  padding: 32px 16px;
}
.service__item-img {
  img {
    height: 56px;
  }
}
.service__item-name {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 700;

  @include mq(pc) {
    margin-top: 24px;
  }
}
.service__item-text {
  margin-top: 8px;

  @include mq(pc) {
    margin-top: 14px;
    font-size: 14px;
  }
}

// 制作の流れ
.flow {
}

.flow__inner {
}

.flow__description {
}

.flow__list {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding-inline: 20px;
  max-width: 280px;
  margin-inline: auto;

  @include mq(pc) {
    margin-top: 64px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 100%;
    padding-inline: 0;
  }
}

.flow__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #00558f 2px solid;
  border-radius: 16px;
  padding: 16px;
  padding-top: 40px;
}

.flow__item-num {
  position: absolute;
  top: 0;
  left: 50%;
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
  font-size: 24px;
  transform: translate(-50%, -50%);
  color: #ffffff;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background: #00558f;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &::after {
    width: 40px;
    height: 40px;
    left: calc(50% + 4px);
    background: #57b4f2;
    z-index: -2;
  }
}

.flow__item-img {
  img {
    height: 56px;
  }
}
.flow__item-name {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 700;
}
.flow__item-text {
  margin-top: 8px;

  @include mq(pc) {
    font-size: 14px;
  }
}

// 自己紹介
.about {
}
.about__inner {
}
.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(pc) {
    margin-top: 40px;
    flex-direction: row-reverse;
    align-items: start;
    gap: 40px;
    max-width: 640px;
    margin-inline: auto;
  }
}

.about__img {
  margin-block: 32px;

  @include mq(pc) {
    margin-block: 0;
    flex-shrink: 0;
  }

  img {
    width: 240px;
    border-radius: 50%;
  }
}
.about__content {
}

.about__name {
  font-size: 16px;
  font-weight: 700;
}

.about__description {
  margin-top: 8px;
}

.about__skill {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 700;
}
.about__skill-list {
}

.about__skill-item {
  margin-top: 8px;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 8px;
    height: 8px;
    background: $color--sub-1;
    border-radius: 50%;
    margin-right: 8px;
  }
}

// お問い合わせ
.contact {
  padding-bottom: 120px;
}

.contact__inner {
}

.contact__description {
}

.contact__form {
  @include mq(pc) {
    max-width: 640px;
    margin-inline: auto;
  }
}

.form {
}

.form__list {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form__item {
  @include mq(pc) {
    display: flex;
    gap: 16px;

    &:nth-child(3) {
      align-items: flex-start;
    }
  }
}
.form__head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  @include mq(pc) {
    flex-shrink: 0;
    width: 160px;
  }
}
.form__label {
  font-size: 16px;
  font-weight: 700;
}
.form__tag {
  font-size: 12px;
  color: $color--white;
  background: $color--accent-1;
  border-radius: 6px;
  padding: 2px 4px;
}

.form__input {
  @include mq(pc) {
    width: 100%;
  }
}
.form__input-text {
  width: 100%;
  border: 2px solid $color--main;
  border-radius: 6px;
  padding: 8px;

  &::placeholder {
    color: lightgray;
  }
}
.form__textarea {
  width: 100%;
  height: 160px;
  border: 2px solid $color--main;
  border-radius: 6px;
  padding: 8px;
  resize: vertical;

  &::placeholder {
    color: lightgray;
  }
}
.form__submit {
  margin-top: 36px;
  text-align: center;
}
.form__submit-button {
}

// ページアップ
.pagetop {
  display: none;

  @include mq(pc) {
    display: block;
    position: fixed;
    bottom: 60px;
    right: 40px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;

    &.is-show {
      opacity: 1;
      visibility: visible;

      &:hover {
        opacity: 0.8;
      }
    }

    img {
      width: 80px;
    }
  }
}

// フッター
.footer {
  padding-block: 40px 70px;
  background: $color--main;
  z-index: 1000;

  @include mq(pc) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-block: 8px;
  }
}
.footer__inner {
  @include mq(pc) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}

.footer__sns-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer__sns-link {
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.8;
  }

  img {
    width: 32px;
  }
}

.footer__copyright {
  margin-top: 16px;
  text-align: center;

  @include mq(pc) {
    margin-top: 0;
  }

  small {
    color: $color--white;
    font-size: 10px;
  }
}
